apiVersion: v1
kind: Service
metadata:
  name: spring-api-service
spec:
  type: NodePort
  selector:
    app: spring-api
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
      nodePort: 30999