aws:
  region: us-east-1
  s3:
    bucket: order-app-api
    product-bucket: order-app-product-api

server:
  port: 8080  # ?? Volta pra 8080 
  servlet:
    context-path: /

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}  
  application:
    name: security
  servlet:
    multipart:
      enabled: true
      max-file-size: 15MB
      max-request-size: 20MB
      file-size-threshold: 2MB
      location: ${java.io.tmpdir}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    enabled: true