aws:
  region: us-east-1
  s3:
    bucket: order-app-api
    product-bucket: order-app-product-api

server:
  port: 8081
  servlet:
    context-path: /
app:
  frontend-url: ${FRONTEND_URL:http://localhost:3000}	
spring:
  application:
    name: security

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
      file-size-threshold: 2MB
      location: ${java.io.tmpdir}

  datasource:
    url: jdbc:mysql://localhost:3306/training?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    enabled: true
