aws:
  region: us-east-1
  s3:
    bucket: order-app-api  
    product-bucket: order-app-product-api 

server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    accesslog:
      enabled: true	

spring:
  application:
    name: security
  servlet:
    multipart:
      enabled: true
      max-file-size: 15MB
      max-request-size: 20MB
      file-size-threshold: 2MB
      location: ${java.io.tmpdir}				

  datasource:
    url: jdbc:mysql://order-app-db.cobw46ksedm2.us-east-1.rds.amazonaws.com:3306/orderapp
    username: admin
    password: OrderApp2025!
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      idle-timeout: 30000
      pool-name: HikariCP
      max-lifetime: 2000000
      connection-timeout: 30000
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
app:
  frontend:
    url: https://main.d1zwzlsm520sqr.amplifyapp.com   		

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    filter: true
    disable-swagger-default-url: true
  api-docs:
    enabled: true

management:
  server:
    port: 8080
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    redis:
      enabled: false  # ? DESABILITA REDIS NO HEALTH CHECK

logging:
  level:
    root: INFO
    com.security: INFO
    org.springframework.web: INFO
    org.springframework.web.multipart: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    software.amazon.awssdk: INFO

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

  file:
    name: logs/security.log

  logback:
    rollingpolicy:
      file-name-pattern: logs/security.%d{yyyy-MM-dd}.%i.log.gz
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB